.modal {
  position: absolute;
  background-color: #fff;
  z-index: 2;
  border-radius: 8px;
  border: 1px solid #000;
  width: calc(100% - 22px);
  padding: 10px;
  display: none;

  .inputContainer {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 15px 10px;
    width: calc(100% - 22px);

    input {
      border: none;
      outline: none;
      font-size: 18px;
      margin-left: 10px;
      width: 200px;

      &::placeholder {
        color: #000;
      }
    }

    .countryCode {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 2px;

      &::before {
        content: '';
        width: 24px;
        height: 24px;
        background-color: #d3d3d3;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  .errorMessage {
    color: red;
    font-size: 14px;
    display: none;
  }

  button {
    margin-top: 20px;
    width: 100%;
    background-color: #000;
    border-radius: 8px;
    color: #fff;
    padding: 20px 0;

    span:first-child {
      font-size: 30px;
      line-height: 20px;
    }
    span:last-child {
      font-size: 11px;
    }
  }

  p:last-child {
    text-align: center;
  }
}
