:root {
  font-family: OpenSans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    width: 100%;

    .legalLine {
      text-align: center;
      margin-bottom: 5px;
      background-color: lightgray;
    }
  }

  main {
    padding: 0 10px;
    max-width: calc(1000px - 20px);
    flex: 1;

    .functionalHeader {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      position: relative;
      width: 100%;
      margin-bottom: 20px;

      .burgerButton {
        img {
          height: 100%;
        }
      }

      .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .languageButtons {
        border: 1px solid;
        border-radius: 8px;
        display: flex;

        .separator {
          width: 1px;
          height: 100%;
          background-color: #000;
        }
      }
    }

    .videoContainer {
      border-radius: 8px;
      display: flex;
      overflow: hidden;
      position: relative;

      @media (max-width: 425px) {
        height: 600px;
      }

      .open {
        display: block;
      }

      img {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
      }

      video {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        filter: blur(15px);
      }
    }
  }

  footer {
    padding: 10px;
  }
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
